.sitechart-form .user-chat-item-img {
	
}
.user-chat-info-item {
	
	    display: flex;
    align-items: flex-end;
	position:relative;
	
	
}
.user-chat-info-img {
	background-color:#F4F5F7;
	width:30px;
	height:30px;
}
.user-chat-info-img img,
.user-chat-item-img img,
.user-chat-info-img{
	border-radius:30px;
}

.custom-control.custom-radio input {
	display:none;
}

.user-chat-left {
	
}
#chat-list-form .custom-control-label::after,
#chat-list-form .custom-control-label::before {
	content:none;
}
#chat-list-form .custom-control.custom-radio {
	display:flex;
	padding:0;
	
	border-bottom:1px solid rgba(178, 183, 193, 0.2);
	transition:.35s;
}
#chat-list-form .custom-control.custom-radio:hover {
	background:#F4F5F7;
}
.user-chat-info-name {
	font-size:14px;
	padding-left:15px;
	cursor:pointer;
}
.user-online {
	bottom: 0;
    background: #03BFC7;
    border: 1px solid #FFFFFF;
    width: 9px;
    height: 9px;
    display: block;
    border-radius: 9px;
    z-index: 9;
    position: absolute;
    /* top: 0; */
    right: 0;
}
.user-chat-info-img {
	position:relative;
	cursor:pointer;
}

input.search-user-chat {
	background: #F4F5F7;
	border-radius: 4px;
	border:none;
	width:100% !important;
}
#chat-list-form .custom-control-label {
	display:block;
	width:100%;
	padding:16px 22px;
}
#chat-list-form input:checked+.custom-control-label{
	    background: #F2FAFA;
}
.new-messages {
	width: 21px;
    height: 21px;
    display: block;
    background: #FD8E4F;
    border-radius: 21px;
    color: #fff;
    text-align: center;
    line-height: 21px;
    /* align-self: stretch; */
    position: absolute;
    right: 21px;
    top: 50%;
    margin-top: -10.5px;
}
.user-chat-messages-list {
display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: -webkit-min-content;
    min-height: min-content;
    width: 100%;
    -ms-flex-pack: end;
    justify-content: flex-end;
	
}
#form-chat-list {
	max-height:400px;
	overflow-y:scroll;
}
.message-date {
	text-align:center;
	font-weight: 600;
font-size: 12px;
line-height: 144%;
/* or 17px */


color: rgba(0, 0, 0, 0.23);
}
.user-chat-messages-item {
	    /* display: inline-block; */
    -ms-flex-item-align: start;
    align-self: flex-start;
    background-color: transparent;
    padding: 0;
    border: 0;
    color: #3F4F57;
    width: -webkit-fit-content;
    width: fit-content;
	margin-bottom:19px;
	display:flex;
	max-width:100%;
	
}
.user-chat-messages-item.guest-response .user-chat-item-text {
	margin-left:20px;
}
.user-chat-messages-item.owner-response {
	    align-self: flex-end;
}
.user-chat-messages-item.owner-response .user-chat-item-text {
	margin-right:20px;
	max-width: 100%;
}
.user-chat-messages-item p {
	margin:0;
}
.owner-response .user-chat-item-text{
	background: rgba(191, 141, 113, 0.05);

padding:24px;
}
.guest-response .user-chat-item-text{
	background: #F2FAFA;
	padding:24px;
}
.block-last-unread {
	max-width:320px;
}