<a class="user-chat-info-item user-chat-info-item-link" href="{{ link }}">
	
		<div class="user-chat-info-img">
		{% if img %}
		<img src="{{ img }}" />
		{% endif %}
		{% if online %}
			<span class="user-online"></span>
		{% endif %}
		
		</div>
		<div class="user-chat-info-name">
		{{ name }}
		</div>
		{% if new %}
			<span class="new-messages">{{ new }}</span>
		{% endif %}
	
</a>