{% if(form.onlybutton) %}
<div class="user-chat-form-wrapper row">  
		<div class="user-chat-left col-lg-3">
			<div>
				<a class="use-ajax btn btn-primary btn-block mt-3 mt-lg-0 mb-3 col-8" data-dialog-options="{&quot;width&quot;:&quot;800&quot;,&quot;height&quot;:&quot;350&quot;}" data-dialog-type="modal" href="/private-message/create">{{ 'Start new conversation'|t }}</a>
			</div>
			
		</div>
		
		<div class="user-chat-right col-lg-9">		    					
						
			
		</div>
	
</div>

{% else %}
<div class="user-chat-form-wrapper row">  
		<div class="user-chat-left col-lg-3">
			<div>
				<a class="use-ajax btn btn-primary btn-block mt-3 mt-lg-0 mb-3 " data-dialog-options="{&quot;width&quot;:&quot;800&quot;,&quot;height&quot;:&quot;350&quot;}" data-dialog-type="modal" href="/contact/feedback">{{ 'Have a question?'|t }}</a>
			</div>
			<div>
				<a class="use-ajax btn btn-primary btn-block mt-3 mt-lg-0 mb-3" data-dialog-options="{&quot;width&quot;:&quot;800&quot;,&quot;height&quot;:&quot;350&quot;}" data-dialog-type="modal" href="/private-message/create">{{ 'Start new conversation'|t }}</a>
			</div>
			
			<div class="search-wrapper">
			
				{{ form.search }}
			</div>
			{{ form.uid }}
		</div>
		
		<div class="user-chat-right col-lg-9">		    					
				{{ form.wrapper }}				
			</div>
		</div>
		<div class="form-bottom hidden">
		  {{ form.form_build_id }} 
		  {{ form.form_token }} 
		  {{ form.form_id }} 
		 
		 </div>
	
	 
</div>

{% endif %}