<div class="user-chat-messages-list">
	{% autoescape false %}
	{% set date1 = list[0].date %}
	
	<div class="message-date">{{ date1 }}</div>
	{% for item in list %}
		
		
		
		{% if date1 != item.date %}
			{% set date1 = item.date %}			
			<div class="message-date">{{ date1 }}</div>
			
		{% endif %}
		<div class="user-chat-messages-item {{ item.class }}">
			{% if item.type=='response' %}
		     <div class="user-chat-item-img">
				<img src="{{ item.img }}" />
			 </div>
			 <div class="user-chat-item-text">
				{{ item.text }}
			 </div>
			{% else %}
			 
			 <div class="user-chat-item-text">
				{{ item.text }}
			 </div>
			 <div class="user-chat-item-img">
				<img src="{{ item.img }}" />
			 </div>
			
			{% endif %}
			
		</div>       
    {% endfor %}
	{% endautoescape %}
</div>